/* Author: Noora Karhulahti
 * Date: 3.4.2023
 *  ------------------------------------------------------------------
 * fonts
 * =================================================================== */

 @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap');

/*font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;*/

